# Python bytecode (Junk files)
__pycache__/
*.py[cod]
*$py.class
app/**/__pycache__/

# Environment & Secrets (CRITICAL: Do not remove)
.env
venv/
env/
ENV/

# Project specific uploads (Temporary files)
app/uploads/*.py
!app/uploads/.gitkeep

# OS specific files
.DS_Store
Thumbs.db